.mobile-menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 10px;
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 2;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
    cursor: pointer;
    div:nth-child(1) {
        width: 24px;
        margin: 0 auto 0 0;
    }
    div {
        width: 36px;
        margin: 7px 0;
        border-radius: 10px;
        transition: all 0.3s ease;
    }
    div:nth-child(3) {
        width: 24px;
        margin: 0 0 0 auto;
    }
}

.open {
    background-color: transparent;
    box-shadow: none;
    div:nth-child(1) {
        width: 35px;
        transform: translateY(11px)rotate(225deg);
    }
    div:nth-child(2) {
        width: 35px;
        transform: rotate(-225deg);
    }
    div:nth-child(3) {
        opacity: 0;
        transform: rotate(225deg);
    }
    div {
        border-bottom: 4px solid white;
    }

}

.closed {
    div {
     border-bottom: 4px solid #1f43e4;
    }
}

.menu-container {
    height: 225px;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    background-color: #1f43e4;
    
    transition: all 0.3s;
    .links-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        a {
            margin: 10px 0;
            padding-bottom: 10px;
            text-transform: uppercase;
            font-size: 14px;
            color: white;
        }
    }
    .search-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 12px 0;
        padding-bottom: 10px;
        width: 100%;
        input {
            -webkit-appearance: none;
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            padding: 3px;
            background-color: transparent;
            color: white;
        }
        a {
            margin: 0 0 0 10px;
            padding: 4px;
            text-transform: uppercase;
            font-size: 10px;
            color: white;
            border-radius: 3px;
            border: 1px solid white;
        }
    }
}

.nav-open {
    bottom: 0;
}

.nav-closed {
    bottom: -300px;
}


.menu {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}

.menu-open {
    opacity: 1;
    z-index: 1;
}

@media only screen and (min-width: 1024px) {
    .mobile-menu-icon {
        display: none;
    }
    .search-container {
        input {
            -webkit-appearance: none;
            border: none;
            border-bottom: 2px solid #1f43e4;
            outline: none;
            padding: 3px;
            background-color: transparent;
            color: black;
        }
        a {
            margin: 0 0 0 10px;
            padding: 4px;
            text-transform: uppercase;
            font-size: 10px;
            color: black;
        }
    }
}