.mobile-menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  border-radius: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.mobile-menu-icon div {
  width: 24px;
  margin: 2px 0;
  border-radius: 10px;
}

.open {
  background-color: white;
  -webkit-box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.1);
}

.open div {
  border-bottom: 3px solid black;
}

.closed {
  background-color: #1f43e4;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}

.closed div {
  border-bottom: 3px solid white;
}

.menu-container {
  height: 225px;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background-color: #020202;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-container .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
}

.menu-container .links-container a {
  margin: 10px 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}

.menu-container .links-container a:nth-child(1) {
  -webkit-box-shadow: 0 30px 35px 1px rgba(255, 255, 255, 0.2);
          box-shadow: 0 30px 35px 1px rgba(255, 255, 255, 0.2);
}

.menu-container .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12px 0;
  padding-bottom: 10px;
  width: 100%;
  -webkit-box-shadow: 0 30px 35px 1px rgba(255, 255, 255, 0.2);
          box-shadow: 0 30px 35px 1px rgba(255, 255, 255, 0.2);
}

.menu-container .search-container .fa-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-right: 8px;
}

.menu-container .search-container input {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding: 3px;
  background-color: transparent;
  color: white;
}

.menu-container .search-container a {
  margin: 0 0 0 10px;
  padding: 4px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  border-radius: 3px;
  border: 1px solid white;
}

.nav-open {
  bottom: 0;
}

.nav-closed {
  bottom: -300px;
}

.menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-open {
  opacity: 1;
  z-index: 1;
}
/*# sourceMappingURL=mobilemenu.css.map */