a {
  color: black;
  text-decoration: none;
}

img {
  border-radius: 5px;
}

.main {
  padding: 10px 0;
  text-align: center;
  max-width: 350px;
  margin: 36px auto 0 auto;
}

.main .page-title h2, .main .page-title h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main .page-title h2 {
  font-size: 14px;
}

.main .page-title div {
  position: relative;
  bottom: 5px;
  width: 30px;
  margin: auto;
  border-bottom: 5px solid #1f43e4;
  -webkit-transform: skewY(165deg);
          transform: skewY(165deg);
  z-index: -1;
  -webkit-animation: swipe 0.3s;
          animation: swipe 0.3s;
}

.main .headline {
  width: 310px;
  margin: 15px auto;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

.main .headline .title {
  font-size: 16px;
  font-weight: bold;
}

.main .headline img {
  width: 310px;
  margin: 10px 0;
}

.main .headline .description {
  font-size: 14px;
}

.main .sources-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .sources-container .source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  padding: 14px 8px;
  margin: 8px 0;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.feed {
  width: 300px;
  margin: auto;
}

.feed .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

.feed .article .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.feed .article .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10px;
}

.feed .article .body .image {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 5px;
  background-size: cover !important;
  background-position: center !important;
}

.feed .article .body .description {
  font-size: 12px;
  width: 170px;
  padding: 0 10px;
}

.feed .article:nth-child(odd) .body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#source .navigation {
  text-align: left;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 0 0 5px;
  color: rgba(0, 0, 0, 0.75);
}

#source .navigation a {
  color: rgba(0, 0, 0, 0.75);
}

#source .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#source .article .title {
  margin: 0;
}

#source .article .description {
  display: none;
}

#source .article:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#search .page-title h2 {
  margin-top: 0;
}

#search .page-title h4 {
  font-size: 12px;
  margin-bottom: 0;
}

#search .article .body {
  text-align: left;
}

@-webkit-keyframes swipe {
  from {
    width: 0;
  }
  to {
    width: 30px;
  }
}

@keyframes swipe {
  from {
    width: 0;
  }
  to {
    width: 30px;
  }
}
/*# sourceMappingURL=pages.css.map */