a {
  color: black;
  text-decoration: none;
}

img {
  border-radius: 5px;
}

.main {
  padding: 10px 0;
  text-align: center;
  margin: 36px 0 0 0;
}

.main .page-title h2, .main .page-title h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main .page-title h2 {
  font-size: 14px;
}

.main .page-title div {
  position: relative;
  bottom: 5px;
  width: 30px;
  margin: auto;
  border-bottom: 5px solid #1f43e4;
  -webkit-transform: skewY(165deg);
          transform: skewY(165deg);
  z-index: -1;
  -webkit-animation: title-swipe 0.3s;
          animation: title-swipe 0.3s;
}

.main .headline {
  margin: 15px 0;
}

.main .headline .title {
  font-size: 16px;
  font-weight: bold;
}

.main .headline .title .source {
  text-transform: uppercase;
  font-size: 12px;
}

.main .headline .title .source div {
  width: 50px;
  margin: 5px auto;
  border-bottom: 5px solid #1f43e4;
  -webkit-animation: article-swipe 0.3s;
          animation: article-swipe 0.3s;
}

.main .headline img {
  width: 100vw;
  margin: 5px 0;
  border-radius: 10px;
}

.main .headline .description {
  font-size: 14px;
}

.main .sources-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .sources-container .source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  padding: 14px 8px;
  margin: 8px 0;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.feed {
  max-width: 350px;
  margin: auto;
}

.feed .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  padding: 10px 5px;
  text-align: left;
}

.feed .article .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.feed .article .title .source {
  text-transform: uppercase;
  font-size: 12px;
}

.feed .article .title .source div {
  border-bottom: 5px solid #1f43e4;
  width: 50px;
  margin: 5px auto 5px 0;
  -webkit-animation: article-swipe 0.3s;
          animation: article-swipe 0.3s;
}

.feed .article .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
}

.feed .article .body .image {
  width: 130px;
  height: 130px;
  margin: 0;
  border-radius: 5px;
  background-size: cover !important;
  background-position: center !important;
}

.feed .article .body .description {
  font-size: 12px;
  width: 170px;
  padding: 0 10px;
}

.feed .article:nth-child(odd) {
  text-align: right;
}

.feed .article:nth-child(odd) .source div {
  border-bottom: 5px solid #1f43e4;
  width: 50px;
  margin: 5px 0 5px auto;
}

.feed .article:nth-child(odd) .body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#source .navigation {
  text-align: left;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 0 0 5px;
  margin: 10px 0 0 10px;
  color: rgba(0, 0, 0, 0.75);
}

#source .navigation a {
  color: rgba(0, 0, 0, 0.75);
}

#source .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 10px 0;
}

#source .article .title {
  text-align: left;
  margin: 0 0 0 10px;
}

#source .article .title div {
  margin: 5px auto 5px 0;
}

#source .article .description {
  display: none;
}

#source .article:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#source .article:nth-child(even) .title {
  text-align: right;
  margin: 0 10px 0 0;
}

#source .article:nth-child(even) .title div {
  margin: 5px 0 5px auto;
}

#search .page-title h2 {
  margin-top: 0;
}

#search .page-title h4 {
  font-size: 12px;
  margin-bottom: 0;
}

#search .article .body {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .main .headline {
    width: 525px;
    margin: 20px auto;
  }
  .main .headline img {
    width: 100%;
  }
  .feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 700px;
  }
  .feed .article {
    max-width: 325px;
    padding: 5px 0;
    margin: 10px auto;
    text-align: center;
  }
  .feed .article .title .source div {
    margin: 10px auto;
  }
  .feed .article:nth-child(odd) {
    text-align: center;
  }
  .feed .article:nth-child(odd) .source div {
    border-bottom: 5px solid #1f43e4;
    width: 50px;
    margin: 10px auto;
  }
  .feed .article:nth-child(odd) .body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .main .headline {
    width: 600px;
    margin: 20px auto;
  }
  .main .headline img {
    width: 100%;
  }
  .feed {
    max-width: 1050px;
  }
  .feed .article {
    max-width: 325px;
    padding: 5px 0;
    margin: 10px auto;
    text-align: center;
  }
  .feed .article .title .source div {
    margin: 10px auto;
  }
  .feed .article:nth-child(odd) {
    text-align: center;
  }
  .feed .article:nth-child(odd) .source div {
    border-bottom: 5px solid #1f43e4;
    width: 50px;
    margin: 10px auto;
  }
  .feed .article:nth-child(odd) .body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@-webkit-keyframes title-swipe {
  from {
    width: 0;
  }
  to {
    width: 30px;
  }
}

@keyframes title-swipe {
  from {
    width: 0;
  }
  to {
    width: 30px;
  }
}

@-webkit-keyframes article-swipe {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes article-swipe {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=pages.css.map */